# Node.js
node_modules/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Editor directories and files
.vscode/
.idea/
*.swp

# Build output
out/

# Misc
*.local
